#style1{
    text-align: center;
    border-bottom: 3px solid #333;
    background-color: lightslategray;
}

#header{
    margin-top: 0px;
    color: black;
    padding: irem;
}

#list {
    display: inline;
    margin-right: 90px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid;
    background-color: white;
}


a{
    text-decoration: none;
    color: black;
}

#bodystyle{
    background-color: gray;
    margin: 1px;
    padding: 1px;
    
}

img{
    width: 10cm;
    height: auto;
}

#item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: grid;
}


table , #productheader {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 2px solid black;
    text-align: left;
    padding: 2px;
}

th, #productheader{
    text-align: center;
    border: 2px solid;
    border-collapse: collapse;
}